---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "users-service"
spec:
  selector:
    matchLabels:
      app: "users-service"
  template:
    metadata:
      labels:
        app: "users-service"
    spec:
      containers:
        - name: "users-service-image"
          image: "docker.io/heritier004/ea-project:users-service"
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: "users-service"
spec:
  selector:
    app: "users-service"
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080